.article_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
}

.article_card {
    border: 1px solid black;
    flex-grow: 1;
    width: 33%;
    max-width: 33%;
    height: fit-content;
    margin-bottom: 5px;
}
